@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-geist-sans: 'Inter', system-ui, sans-serif;
    --font-geist-mono: 'Courier New', monospace;
  }
  
  * {
    @apply border-border;
  }
  
  body {
    @apply bg-carbon-100 text-white antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
